html, body, #root {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
}

body {
  background-color: #546a7b;
}

#main {
  height: 100%;
  background-color: #C6C5B9;
  display: flex;  
  flex-direction: column;
  overflow: scroll;
}

#main-header {
  padding-left: 10px;
}

#movie-list {
  flex: 1;
}

#movie-list img {
  padding: 10px;
}

#navigation-bar, #footer {
  background-color: #393d3f;
  height: 50px;
  min-height: 50px;
  width: 100%;
}

