html, body, #root {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
}

body {
  background-color: #546a7b;
}

#main {
  height: 100%;
  background-color: #C6C5B9;
  display: flex;  
  flex-direction: column;
  overflow: scroll;
}

.search {
  font-size: 40px;
  padding: 10px;
}

#header {
  padding: 10px;
  font-size: 40px;
  font-weight: bold;
}

#navigation-bar{
  background-color: #393d3f;
  height: 50px;
  min-height: 50px;
  width: 100%;
}

#content {
  display: flex;
  flex: 1;
}

#footer {
  background-color: #393d3f;
  height: 50px;
  min-height: 50px;
  width: 100%;
}

#movies {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 100%;
}

#movies .search {
  flex: 1 100%;
  height: 50px;
}

#movie-list {
}

#movie-details {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #546a7b;
  color: #ffffff;
}

#movie-details>img {
  padding: 20px;
  align-self: center;
}

#movie-details-title {
  font-size: 36px;
  text-align: center;  
}

#movie-details-close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}